<!DOCTYPE html>
<html lang="ro" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <th th:insert="~{layout/auth :: head}"></th>

</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
            <div class="row w-100">
                <div class="col-lg-4 mx-auto">
                    <div class="auto-form-wrapper">

                        <th th:insert="~{layout/auth :: stateMessage}"></th>

                        <form method="post" th:object="${forgotPasswordForm}" th:action="@{/accounts/password/reset}">
                            <div class="card-title">Recuperare parola</div>
                            <p class="text-muted">Dacă ați uitat parola, introduceți adresa dvs. de e-mail în acest câmp și faceți click pe Resetați parola.</p>
                            <p class="text-muted">Veți primi o parolă nouă și un link pentru a vă putea loga. Veți fi putea schimba parola ulterior.</p>
                            <div class="form-group">
                                <label class="label">E-mail</label>
                                <div class="input-group">
                                    <input type="email" required class="form-control" aria-describedby="emailHelp" th:field="*{email}" placeholder="utm@utm.md">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="mdi mdi-check-circle-outline"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary submit-btn btn-block">Resetați parola</button>
                            </div>
                            <div class="text-block text-center my-3">
                                <a th:href="@{/accounts/login}" class="text-black text-small"><span class="font-weight-semibold">Am amintit, </span>
                                inapoi la pagina de intrare.</a>
                            </div>
                        </form>
                    </div>

                    <th th:insert="~{layout/auth :: footer}"></th>

                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<th th:insert="~{layout/auth :: script}"></th>

</body>
</html>