<!doctype html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th th:replace="~{layout/login-register :: head}"></th>

<body class="">
<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <div class="text-center mb-6">
                        <img th:src="@{/demo/brand/utm-logo.png}" class="h-9" alt="logo">
                    </div>

                    <label class="alert alert-success" role="alert" th:if="${successMessage}" th:utext="${successMessage}"></label>
                    <label class="alert alert-danger" role="alert" th:if="${errorMessage}" th:utext="${errorMessage}"></label>

                    <form class="card" method="post" th:object="${forgotPasswordForm}" th:action="@{/accounts/password/reset}">
                        <div class="card-body p-6">
                            <div class="card-title">Recuperare parola</div>
                            <p class="text-muted">Dacă ați uitat parola, introduceți adresa dvs. de e-mail în acest câmp și faceți click pe Resetați parola.</p>
                            <p class="text-muted">Veți primi o parolă nouă și un link pentru a vă putea loga. Veți fi putea schimba parola ulterior.</p>
                            <div class="form-group">
                                <label class="form-label">E-mail</label>
                                <input type="email" required class="form-control" aria-describedby="emailHelp" th:field="*{email}" placeholder="utm@utm.md">
                            </div>
                            <div class="form-footer">
                                <input type="submit" class="btn btn-primary btn-block" value="Resetați parola">
                            </div>
                        </div>
                    </form>
                    <div class="text-center text-muted">
                        Am amintit, <a th:href="@{/accounts/login}">inapoi</a> la pagina de intrare.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>