<!doctype html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th th:replace="~{layout/login-register :: head}"></th>

<body class="">
<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <div class="text-center mb-6">
                        <img th:src="@{/demo/brand/utm-logo.png}" class="h-9" alt="logo">
                    </div>
                    <form class="card" method="post" th:action="@{/accounts/login}">
                        <div class="card-body p-6">
                            <div class="card-title">Intră în cont</div>
                            <div class="form-group">
                                <label class="form-label">E-mail</label>
                                <input type="email" required class="form-control" aria-describedby="emailHelp" placeholder="utm@utm.md" name="email">
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    Parola
                                    <a th:href="@{/accounts/password/reset}" class="float-right small">Ai uitat parola?</a>
                                </label>
                                <input type="password" class="form-control" placeholder="parola" required name="password">
                            </div>
                            <div class="form-group">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="remember" />
                                    <span class="custom-control-label">Ține-mă minte</span>
                                </label>
                            </div>
                            <div class="form-footer">
                                <input type="submit" class="btn btn-primary btn-block" th:value="Conectează-te">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>