<!doctype html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th th:replace="~{layout/login-register :: head}"></th>

<body class="">
<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <div class="text-center mb-6">
                        <img th:src="@{/demo/brand/utm-logo.png}" class="h-9" alt="logo">
                    </div>

                    <label class="alert alert-danger" role="alert" th:if="${errorMessage}" th:utext="${errorMessage}"></label>

                    <form class="card" method="post" th:object="${passwordResetForm}" th:action="@{/accounts/password/reset/confirm}">
                        <input type="hidden" name="token" th:value="${token}"/>
                        <div class="card-body p-6">
                            <div class="card-title">Recuperare parola</div>
                            <div class="form-group">
                                <input required type="password" class="form-control form-control-lg" th:field="*{password}" placeholder="Parola">
                            </div>
                            <div class="form-group">
                                <input required type="password" class="form-control form-control-lg" th:field="*{confirmPassword}" placeholder="Confirmă parola">
                            </div>
                            <div class="form-footer">
                                <input type="submit" class="btn btn-primary btn-block" value="Salvează">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>